body{background-image:url(Picture1.png);background-color: azure; } 
h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: blue;}
p{color: brown;font-weight: 900;}